# Database Config
POSTGRES_VERSION=16
POSTGRES_USER=bookstore_user
POSTGRES_PASSWORD=bookstore_secret
POSTGRES_PORT=5432

# Service Images (Optional to override for local dev or CD pipeline)
IDENTITY_SERVICE_IMAGE=identity-service:latest
PRODUCT_SERVICE_IMAGE=product-service:latest
ORDER_SERVICE_IMAGE=order-service:latest
PROMOTION_SERVICE_IMAGE=promotion-service:latest
REPORT_SERVICE_IMAGE=report-service:latest

# App Images
WEB_APP_IMAGE=web-app:latest
GATEWAY_IMAGE=gateway:latest

# Gateway Port
GATEWAY_PORT=80
